#aboutDiv{
    height: 300px;
    width: 400px;
    border: none;
}

.header h1{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgba(0, 0, 0, 0.5);
    padding: 10px 20px;
    border-radius: 10px;
}
h3{
    font-size: 15px;
    font-weight: 500;
}
table{
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;

}

th {
    border: 2px solid black;
    font-size: 28px;
    background-color: #999999;
    text-align: center;
    padding: 6px;
    
    }

    a {
    text-decoration: none;
}
a:link{
    color: black;
    background-color: transparent;
}
a:visited{
    color: black;
    background-color: transparent;
}
a:active{
    color: red;
    background-color: transparent;
    }

.location{
    display: flex;
}

.ps-7{
    padding-left: 9rem !important;
}
.me-6{
    margin-right: 27rem !important;
}

.me-button{
    margin-right: 2.5rem !important;
}

.mt-residential{
    margin-top: 13rem;
}

.mt-commercial{
    margin-top: 28.5rem;
}

.me-text{
    margin-right: 46rem;
    padding: bottom;
}

.me-commercial{
    margin-right: 45.5rem;
    padding: bottom;
}
.custom-btn{
    background-color: black;
    border-color: grey;
    color: black;
    width: 200px;
    }

.mt-7{
    margin-top: 15.5rem !important;
}

.ms-middle{
    margin-left: 55rem;
}
.ms-about{
    margin-left: 51rem;
}
.hidden{
        display: none;
        
    }

#contactForm {
    position: absolute; /* Pulls it out of the document flow */
    z-index: 1000;      /* Ensures it stays on top of other text */
    width: 300px;       /* Give it a fixed width */
    right: 0;           /* Aligns it to the right of the container */
    max-height: 0;
    overflow: hidden;
    padding: 0 15px;
    opacity: 0;
    transition: max-height 0.4s ease, opacity 0.3s ease, padding 0.4s ease;
    background-color: red; 
}

#contactForm.active {
    max-height: 600px;
    opacity: 1;
    padding: 15px; /* Add padding only when active for a cleaner look */
}

.rotate-90 {
  display: inline-block; /* Required for rotation to work on inline elements */
  transform: rotate(90deg);
  transition: 0.3s;
}

.rotate-180{
    display: inline-block; /* Required for rotation to work on inline elements */
  transform: rotate(180deg);
  transition: 0.3s;
}

#submitForm{
    color: grey;
}


.supplier-card{
    height: 200px;
    background-color: #f8f9fa;
    display: flexbox; 
    align-items: center;
    justify-content: center;
    text-align: center;
}