<!DOCTYPE html>
<html lang="eng">
        <style>
        th:nth-child(2){
            background-color: #666666;
        }
    </style>
    <head>
        <meta charset="UTF-8">
        <title>S&L Garage Door</title>
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet">
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.css">
        <link rel="stylesheet" type = "text/css" href="../style/style.css">
        
    </head>

    <body>
        <div class = "container">
            <a href = "home.html">
                <img src = "../images/SL_Logo.jpg" width = "200" height = "150" class = "position-absolute top-0 start-0" style="z-index: -1;">
            </a>
            <p class = "pe-5 py-3 text-end fs-4 fw-medium">
                Hours Availabe: 10:00-8:00
            </p>
            <p class = "pe-2 py-auto text-end fs-4 fw-medium">
                Phone Number: 765-282-1020
            </p>
        </div>
        <!--Navbar-->
        <div class="container-fluid py-2">
            <table>
                <th><a href = home.html>Home</a></th>
                <th><a href = services.html style="color: red;">Services</a></th>
                <th><a href = contact.html>Contact</a></th>
                <th><a href = resources.html>Resources</a></th>
            </table>
            
        </div>

        <!--Left Text Box-->
    <div class = "container">
            <div class="container d-flex flex-column align-items-end" style="position: relative;">
                <button type="button" id="formButton" class="btn custom-btn rounded-pill shadow-sm border position-relative text-center me-button" style= "background-color: grey; color: black;" onclick=showContact()>
                    <i id="arrow" class="bi bi-triangle-fill me-2 rotate-90"></i>Contact Us!
                </button>
    
                <div id="contactForm" class="shadow-lg mt-5 ms-1 rounded ">
                    <input type="text" class="form-control mb-1" placeholder="First Name*">
                    <input type="text" class="form-control mb-1" placeholder="Last Name*">
                    <input type="text" class="form-control mb-1" placeholder="Email*">
                    <input type="text" class="form-control mb-1" placeholder="Address*">
                    <input type="text" class="form-control mb-1 pb-5" placeholder="How can we help?">
                    <button type="submit" class="btn btn-light w-100">Submit</button>
                </div>
            </div>
    </div>
            <div>
                <img src = "../images/residential.jpg" height="30%" width="30%" class = "position-absolute end-0 me-6">
                <p class = "position-absolute end-0 me-text mt-residential fs-5">Residential Install</p>

                <img src = "../images/commercial.jpg" height="30%" width="30%" class = "position-absolute end-0 me-6 mt-7 pt-1">
                <p class = "position-absolute end-0 me-commercial mt-commercial fs-5">Commercial Install</p>

                <h2 class = "ps-7 ">Repairs</h2>
                <p class = "ps-7">Common issues resulting in repairs:</p>


                <p class = "ps-7 pb-5">What does S&L offer?</p>

                <h2 class = "ps-7">Replacement:</h2>
                <p class = "ps-7">Common issues resulting in replacement:</p>

                <p class = "ps-7 pb-5">What does S&L offer?</p>

                <h2 class = "ps-7">Installation:</h2>
                <p class = "ps-7 pb-5">
                    S&L offers both residential and commercial installations.<br>
                    S&L also offers different types of garage door installations. <br>
                    Those include: aluminum, wood, etc...</p>
            </div> 

        </div>
        <!--Footer-->
        <footer class = "mt-auto border-top border-dark py-3 d-flex justify-content-center align-items-center">
            <div class = "d-flex p-1 pe-5">
            <a href = "home.html">
                <img src = "../images/SL_Logo.jpg" width = "100" height = "75">
            </a>
            <div class = "container">
                <p class = "pe-5 py-1 fw-medium">Location: Muncie, Kokomo, Logansport</p>
                <p class = "pe-5 fw-medium">Phone Number: 765-282-1020</p>
                <p class = "text-muted fw-medium">© 2026 Group 5</p>
            </div>
        </footer>

    </body>
    <script>
    function showContact(){
        const form = document.getElementById("contactForm");
        const arrow = document.getElementById("arrow");
        form.classList.toggle("active");
        arrow.classList.toggle("rotate-180");
        }
    </script>